<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log In</title>
  </head>
  <body>
    <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <% if (!locals.user.membership && !locals.user.admin) { %>
    <a href="/become-a-member">Become a member</a>
    <% } %> <% if (!locals.user.admin) { %>
    <a href="/become-an-admin">Become an admin</a>
    <% } %>
    <a href="/create-message">Create a new message</a>
    <a href="/log-out">LOG OUT</a>
    <% } else { %>
    <h1>please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit">Log In</button>
    </form>
    <a href="/sign-up">Sign up instead</a>
    <%}%>
    <ul>
      <% messages.forEach((message) => { %>
      <div
        style="
          border: 1px solid black;
          max-width: max-content;
          padding: 20px;
          margin-bottom: 10px;
        "
      >
        <% if (locals.user && (locals.user.membership || locals.user.admin)) {%>
        <h2><%- message.username %></h2>
        <p><%- message.time %></p>
        <% } %>
        <p><%- message.message %></p>
        <% if (locals.user && locals.user.admin) {%>
        <form
          action="/delete-message/<%= message.id %>"
          method="POST"
          style="display: inline"
        >
          <button type="submit">❌</button>
        </form>
        <% } %>
      </div>
      <% }); %>
    </ul>
  </body>
</html>
